@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

body {
    margin: 0;
    padding: 0px;
}


  #game-section {
    background-image: url("../assets/background-game.png");
    width: 100vw;
    height: 100vh;
    background-size: contain;
    /* padding:10px ; */
    display: flex;
    align-items: center;
  }
#game-container{
  display: flex;
  flex-direction: row;
}     
#game-container #live-score-card{
  gap: 30px;
  padding: 20px;
  /* height: ; */
  border-radius: 20px;
  border: 5px solid black;
  /* background-color: rgba(255, 208, 253, 0.5); */
  background-image: url("../assets/background-score-card.jpg");
  background-size: cover;
  box-shadow: 2px 2px 3px rgb(62, 62, 62);
  
} 
#game-container #live-score-card h3{
  margin-top: -50px;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  border: 3px solid black;
  background-color: rgb(255, 236, 128);
  color: black;
  font-family: "Pacifico", cursive;
  
}
#game-container #live-score-card .player{
  gap: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 3px black;
  border: 5px solid rgb(87, 87, 87);
}



#game-container #live-score-card  .player-active{
  border: 5px solid rgb(0, 255, 8);
}

#game-container #live-score-card #player1{
  background-color: rgba(228, 149, 149, 0.9);
}
#game-container #live-score-card #player2{
  background-color: rgba(157, 149, 228, 0.9);
} 



#game-container #live-score-card .player .player-icon img{
  width: 70px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0px 0px 6px black;
}
#game-container #live-score-card .player .player-name-score{
  padding:10px;
  gap: 10px;
}
#game-container #live-score-card .player .player-name-score .player-styles{
  border: 1px solid black;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Rowdies", sans-serif;
  box-shadow: 1px 1px 3px black;
}
#game-container #live-score-card .player .player-name-score .player-name{
  font-size: 20px;
  background-color: rgba(255, 236, 128, 0.726);
}
#game-container #live-score-card .player .player-name-score .player-score{
  font-size: 40px;
  background-color: rgb(154, 238, 255);
}
.player-styles p{
 margin: 0;
}



#cards-container{
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
#cards-container .image-cards{
    border-radius: 10px;
}
#cards-container .image-cards {
  /* background-color: rgb(90, 90, 90); */
  border-radius: 10px;
  /* box-shadow: 2px 2px 5px rgb(90, 90, 90); */
}
#cards-container .image-cards img {
  width: 100%;
  border: 2px solid rgba(75, 75, 75, 0.799);
  box-shadow: 2px 2px 5px rgb(90, 90, 90);
  border-radius: 10px;
  transition: scale 0.5s ease, transform 0.5s;
}
#cards-container .image-cards:hover img {
  scale: 1.1;
  /* transform: rotateY(360deg); */
}
#clicker {
  width: 100px;
  height: 100px;
  background-color: Green;
}
.rotating {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.rotated {
  transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
#login {
  background-image: url("../assets/background-game.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
}
.card {
  border-radius: 40px;
}
#signup-section {
  display: none;
}
.submit-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.heading {
  font-size: 30px;
  display: flex;
  justify-content: center;
}
.toogleScreen {
  cursor: pointer;
}


#player1-login, #player2-login{
  width: 40%;
}
#cards-container .image-cards:hover img{
    scale: 1.1;
    /* transform: rotateY(360deg); */
}




#clicker { 
    width: 100px; 
    height: 100px; 
    background-color: Green; 
}

.rotating { 
    -webkit-transition: all 0.3s ;
    -moz-transition: all 0.3s ;
    -o-transition: all 0.3s ;
    transition: all 0.3s ;
}

.rotated { 
    transform:rotateY(180deg);
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg); 
    -o-transform:rotateY(180deg);
}



#category-section{
    height: 100vh;
    background-image: url("../assets/background-game.png");
    background-size: contain;
}
#category-container{
    height: 100%;
    
}

#winner-section {
    background-image: url("../assets/background-game.png");
    
    height: 100vh;
    background-size: contain;
    background-position: 50%;
    
    align-items: center;
    justify-content: center;
   
    
    

  }

  #winner-container{
   
    /* height: 100%; */
   background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    font-size:3.0vw;
    font-weight: 600;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    vertical-align: middle;
    line-height:34rem;
    
    
}
